enable-pre-post-scripts=false
engine-strict=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@nuxt/*
public-hoist-pattern[]=@unhead/vue
public-hoist-pattern[]=vue-router
save-prefix=''
shamefully-hoist=false
